name: Protocol

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 2.7
      versions: '["debug"]'

  test:
    needs: ruby-versions
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ${{ fromJson(needs.ruby-versions.outputs.versions) }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Set up tests
      run: |
        bundle exec rake clobber
        bundle exec rake compile
    - name: Run tests
      run: bundle exec rake test_protocol
